{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center pt-5 pb-2">Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-10 m-auto">
            {% if error %}
                <div class="alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" class="" method="post">
                <div class="form-group">
                    <label for="username" class="">Username</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"/>
                </div>
                <div class="form-group">
                    <label for="password" class="">Password</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>
                <div class="text-center">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-success">login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}